<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EatforGood, l'application qui estime l'empreinte carbone de ton alimentation"/>
    <meta name="keywords" content="écologie, empreinte carbone, application mobile, fruits, légumes, Yuka, alimentation, bio, réchauffement climatique, transition écologique, pollution, gaz à effet de serre, changement climatique" />
    <title>EatforGood</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Shadows+Into+Light+Two" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:600|Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yrsa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="../stylesheets/flexslider.css" rel="stylesheet" >
    <link href="../stylesheets/styles.css" rel="stylesheet">
    <link href="../stylesheets/queries.css" rel="stylesheet">
    <link href="../stylesheets/animate.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    

  </head>
  <body  style="overflow-y: visible !important">
      <div class="fab">
          <span class="fab-action-button">
                <i class="fab-action-button__icon"></i>
            </span>
          <ul class="fab-buttons">
            <li class="fab-buttons__item">
              <a href="#" class="fab-buttons__link" data-tooltip="Facebook">
                <i class="icon-material icon-material_fb"></i>
              </a>
            </li>
            <li class="fab-buttons__item">
              <a href="#" class="fab-buttons__link" data-tooltip="Linkedin">
                <i class="icon-material icon-material_li"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- ! NAVBAR -->
        <nav class="navbar">
          <img class="logo" alt="logo" src="../images/logo.png" />
          
          <div class="displayFlexRow">
            <span class="close">
              <i class="fas fa-times"></i>
            </span>
            <span class="expand">
              <i class="fas fa-angle-double-right"></i>
            </span>
            <ul>
              <li class="link3">
                <a  href="/">Retour à la page principale</a>
              </li>
            </ul>
              <div class="store-is-coming">
                <img 
                style="left: 0" 
                src="../images/disponible-sur-android.png" 
                alt="download on android" 
                />
                <img 
                src="../images/disponible-sur-applestore.png" 
                alt="download on android" 
                />
              </div>

              </div>
          </div>
      </nav>
         <!-- !FIN NAVBAR -->
        <section class="intro text-center section-padding" id="intro">
          <div class="container">
            <div class="row" style="text-align:left">
                <h1>CONDITIONS GENERALES D’UTILISATION DE L’APPLICATION EATFORGOOD </h1>
                <h3>AU 31/05/2019</h3>
          
                  <p>Avant de s’inscrire sur l’application, chaque utilisateur doit lire les présentes Conditions Générales d’Utilisation (ci-après « Conditions Générales » ou « CGU ») : l'utilisation de l'Application suppose l’acceptation, par l'utilisateur, de l’intégralité des présentes conditions générales, qu'il reconnait du même fait en avoir pris pleinement connaissance. Cette acceptation sera réputée avoir la même valeur qu’une signature manuscrite de la part de l'utilisateur. L'utilisateur reconnait la valeur de preuve des systèmes d’enregistrement automatique de l’Editeur de l'Application et, sauf pour lui d’apporter une preuve contraire, il renonce à les contester en cas de litige.
                  L’équipe de EatforGood s’engage à protéger les droits de ses utilisateurs en matière de confidentialité. 
                  Veuillez noter que le champ d'application des présentes CGU se limite aux informations et données collectées ou reçues par l’application EatforGood.
                  L’édition et la direction de la publication du site http://eatforgood.fr/ est assurée par Ramy Atassi, domicilié  au 49 rue monsieur le Prince , 75006 Paris.
                  Adresse e-mail eatforgood.pro@gmail.com
                L'hébergeur du site http://eatforgood.fr/ est la société OVH, dont le siège social est situé au 2 rue Kellermann - 59100 Roubaix -
                France
                  </p>
                  <br />
                  <br />
                  <b>ARTICLE 1</b> : DÉFINITIONS 
                  On désignera par la suite : 

-	« Application » : l'application EatforGood et l'ensemble de ses pages et écrans
-	« Base de données » : la base de données des produits alimentaires utilisée dans l’Application
-	« Service » : services d’évaluation et de recommandation relatifs aux produits alimentaires ou aux produits cosmétiques
-	« Utilisateur » : le mobinaute utilisant l'Application
-	« Store » : désigne la plateforme de téléchargement d'applications en ligne utilisée par l'Éditeur pour publier l'Application

                <br />

                <b>ARTICLE 2</b> : OBJET
                L'objet principal de l'application est d’informer les consommateurs sur l’empreinte carbone de produits alimentaires courants.  

EatforGood n’entretient aucun lien de nature contractuelle ou financière d’aucune sorte avec les producteurs et / ou distributeurs des produits évalués par l’application.

L’estimation pour le calcul de l’empreinte carbone d’un aliment utilise les éléments suivants : 

-	Le facteur d’émission propre de l’aliment (fourni par l’ADEME : http://www.bilans-ges.ademe.fr/documentation/UPLOAD_DOC_FR/index.htm?repas.htm)

-	La provenance du produit – connue ou supposée (« Local » si le produit est produit à moins de 200 km du lieu de consommation, « France » si le produit n’est pas local mais produit en France, « Europe » si il est produit en Europe, « Monde » s’il provient d’un autre continent). Pas de supplément pris en compte si le produit est local. On applique un supplément sur le facteur d’émission de l’aliment 10%, 30% ou 50%  si le produit provient respectivement de France, Europe ou Monde

-	La saison en cours (concernant les fruits et légumes - données publiques). On applique un supplément sur le facteur d’émission de l’aliment de 25% si le produit est hors saison

L’application utilise pour reconnaissance des objets (via l’appareil photo) le module Amazon Rekognition. Les photos sont prises sont temporairement stockées dans le cloud Amazon s3, analysées puis effacées. 

              <br />

              <b>ARTICLE 3</b> : PRIX
              L’application est gratuite et le restera.

            <br />

            <b>ARTICLE 4</b> : COMPTE
            Dans cette première version de l’application, l’utilisateur ne peut pas créer de compte. Cependant, il peut sauvegarder les produits qu’il examine. Les données sont hébergées localement sur son téléphone.
          <br />

          <b>ARTICLE 5</b> : ACCES A L’APPLICATION
          Cette première version de l’application est disponible en France uniquement. En cas de problèmes techniques ou pour des raisons de maintenance, l’accessibilité à l’Application pourra être perturbée et/ou suspendue.

          Le service utilisateur de l'Application est accessible par courrier électronique à l’adresse suivante : eatforgood.pro@gmail.com ou par courrier postal à l’adresse suivante : Ramy Atassi, 49 rue monsieur le Prince 75006 Paris.
          

        <br />

       
                 
            </div>
          </div>
        </section>
      </body>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="../javascripts/waypoints.min.js"></script>
      <script src="../javascripts/bootstrap.min.js"></script>
      <script src="../javascripts/scripts.js"></script>
      <script src="../javascripts/jquery.flexslider.js"></script>
      <script src="../javascripts/modernizr.js"></script>
      <script type="text/javascript" src="../javascripts/tarteaucitron.js"></script>
        <!-- Include RGPD -->
        <script type="text/javascript">
        $('.carousel').carousel()
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */
    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tartaucitron", /* Cookie name */
    	  "orientation": "top", /* Banner position (top - bottom) */
    	  "showAlertSmall": true, /* Show the small banner on bottom right */
    	  "cookieslist": true, /* Show the cookie list */
    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
    	  "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
    	  "highPrivacy": false, /* Disable auto consent */
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */
    	  "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
    	  "readmoreLink": "/cookiespolicy" /* Change the default readmore link */
        });

        tarteaucitron.services.mycustomservice = {
          "key": "mycustomservice",
          "type": "social|analytic|ads|video|support",
          "name": "MyCustomService",
          "needConsent": true,
          "cookies": ['cookie', 'cookie2'],
          "readmoreLink": "/custom_read_more", // If you want to change readmore link
          "js": function () {
            "use strict";
            // When user allow cookie
          },
          "fallback": function () {
            "use strict";
            // when use deny cookie
          }
};
        </script>
      </body>
    </html>
